.account-item
  display flex
  justify-content space-between

.icons-container
  margin auto 0

  .material-icons
    cursor pointer

  .delete
    color #e02121
    margin-left 20px

  .edit
    color #45b145
